.ebook-Container {
  width: 40vw;
  height: calc(100vh - 58px);
  top: 0;
  margin: 0 31%;
  background-color: #114e86;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 5px -2px,
    rgba(0, 0, 0, 0.14) 0px 7px 10px 1px, rgba(0, 0, 0, 0.12) 0px 2px 16px 1px;
  overflow-y: auto;
  overflow-x: hidden;
  @media(max-width:900px){
    width: 100%;
    margin: inherit;
    height:100%
  }
}

.leitor{
  display: none;
}

.highlight {
  background-color: yellow;
}

#main{
  height: 100%;
}

/* ini: Preloader */
 
#fallback {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#f1f1f1; /* cor do background que vai ocupar o body */
  z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#fallback .inner {
  position: absolute;
  top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);  
}
.bolas > div {
display: inline-block;
background-color: #1c1c1c;
width: 25px;
height: 25px;
border-radius: 100%;
margin: 3px;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
animation-name: animarBola;
animation-timing-function: linear;
animation-iteration-count: infinite;
 
}
.bolas > div:nth-child(1) {
  animation-duration:0.75s ;
  animation-delay: 0;
}
.bolas > div:nth-child(2) {
  animation-duration: 0.75s ;
  animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
  animation-duration: 0.75s  ;
  animation-delay: 0.24s;
}

@keyframes animarBola {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
16% {
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  opacity: 0.7;
}
33% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1; 
} 
}